*{
	margin: 0px;
	padding: 0px;
}
.warning{
	color:#900;
}
.spanLabel{
	padding-bottom: 1em;
	display: block;
	font-size: 0.8em;
}
#items{
	margin:0;
	padding: 0;
	list-style:none;

}
#items .row {
	padding: 10px 0;
	border-bottom: dashed 1px #aaa;
}

#items .row input{
	margin-bottom: 0px;

}
#items .row.done{
	background-color: #eee;
	font-style: italic;
	color: #aaa;
}
.flr {
	float: right;
}

#login{
		margin: 100px auto;
		width: 500px;
		padding: 20px;
}
#register{
		margin: 100px auto;
		width: 500px;
		padding: 20px;
}